.scrollbar::-webkit-scrollbar {
  display: none;
}

/* *{
    background-color: black;
} */

.markdown img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.FontStyle {
  font-family: "Pacifico", cursive;
}

.FontStyles {
  font-family: "Pacifico", cursive;
  /* font-weight: 800; */
  font-size: 5rem;
}

/* .serv{
  max-width: 280px;
  max-height: 200px;
} */

.serv:hover {
  /* background-color: red; */
  opacity: 60%;
  /* z-index: -1; */
  transition: transform 0.7s;
  cursor: pointer;
}

.servs {
  background-color: #d6516d;
}

.servs:hover {
  /* color: #d6516d; */
  border: #d6516d solid 1px;
  background: #d13c5c;
  transition: background-color 0.5s;
}

.back {
  background-color: #f5f4ec;
}

.read {
  margin-left: 38%;
}

.reads {
  margin-left: 42%;
  width: 16%;
}

.date {
  font-weight: 900;
  color: #d6516d;
}


.box {
  border: 2px solid #f7f3f3;
  margin: 0% 6px;
  padding: 3% 3%;
  background-color: #fff;
  position: inherit;
}

.line {
  border: 0;
  border-top: 1px solid #fff;
  display: inline-block;
  margin: 6px 10px;
  width: 150px;
}

.line1 {
  border: 0;
  border-top: 1px solid #db3131;
  display: inline-block;
  margin: 6px 10px;
  width: 150px;
}

.about {
  max-width: 280px;
  max-height: 200px;
}

.backimg {
  background-image: url(/src/asset/love.jpg);
  background-repeat: round;
  opacity: 0.9;
}

.backimgs {
  background-color: transparent;
  /* background-repeat: round; */
  /* z-index: -1; */
}

.dark {
  color: transparent;
}

@media only screen and (max-width: 500px) {
  .clock {
    text-align: center;
    margin-top: 16rem;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 7rem;
    margin-bottom: -1rem;
    display: flex;
  }

  .box {
    border: 2px solid #f7f3f3;
    margin: -16% 6px;
    padding: 2% 0%;
    background-color: #fff;
    position: inherit;
    margin-left: 5%;
  }

  .FontStyles {
    font-family: "Pacifico", cursive;
    /* font-weight: 800; */
    font-size: 3rem;
    /* margin-left: 21%; */
  }
}

/* @media only screen and (max-width: 1900px) {
  .clock {
    text-align: center;
    margin-top: 7rem;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 7rem;
    margin-bottom: 4rem;
    display: flex;
  }

  .box1 {
    border: 2px solid #f7f3f3;
    margin: -16% 6px;
    padding: 0% 3%;
    background-color: #fff;
    position: inherit;
  }
} */

.clock {
  text-align: center;
  margin-top: 7rem;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 7rem;
  margin-bottom: 2rem;
  display: flex;
  /* background-color: white; */
}
